################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DidIDoThatApp/obj
/DidIDoThatApp/bin/Debug
/DidIDoThatApp.Tests/bin/Debug/net10.0-windows10.0.19041.0/win-x64
/DidIDoThatApp.Tests/obj
